redirect /app/admiralios https://apps.apple.com/US/app/id1461707803?mt=8
redirect /app/admiraldroid https://redirect2club.appspot.com/apk.php?s=45&ref=wp_w3004p122_appsl4mon&click_id=%%click_id%%

redirect /app/vulkanios https://redirect2club.appspot.com/?s=35&ref=wp_w3004p43_appsl4mon&url=mob-app
redirect /app/vulkandroid https://redirect2club.appspot.com/apk.php?s=35&ref=wp_w3004p43_appsl4mon

redirect /app/vulkan24ios https://redirect2club.appspot.com/?s=53&ref=wp_w3004p162_appslt4mon&url=mob-app
redirect /app/vulkan24droid https://redirect2club.appspot.com/apk.php?s=53&ref=wp_w3004p162_appslt4mon
